<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
{{ room_name.name}}

<br/>
<br/>
<br/>
   <form action="" method="post">
   {% csrf_token %}
    <input id="chat-message-input" type="text" name="name" size="100"><br><br>
	<div id="typing-display"></div><br/>
	<h1 id="notification"></h1>
    <input id="chat-message-submit" type="button" value="Send">
    </form>
    <script>
        const roomName ={{ room_name }} ;
	
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );
 function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
   }
        chatSocket.onmessage = async function(e) {
            const data = JSON.parse(e.data);
			console.log(data);
			if (data.message.typing=="true"){
			if(data.message.me != '{{ currentuser.pk }}' ) {
			document.querySelector('#typing-display').innerHTML = "Typing...<br/>";
			await sleep(2500);
			document.querySelector('#typing-display').innerHTML = "";
			}
			}else{
            document.querySelector('#notification').value += (data.message.message + '\n');
        };
}
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

      
		
		document.getElementById("chat-message-input").addEventListener("keyup", typing);

function typing(){
if(document.getElementById('chat-message-input').value.length > 0){
chatSocket.send(JSON.stringify({
                'message': '',
				"typing" : "true",
				'me' : '{{ currentuser.pk }}'
            }));
}
}

    </script>
	
	<script>
	
	 const roomName1 ={{ currentuser.pk }} ;
	
        const notSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/not/'
            + roomName1
            + '/'
        );
 function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
   }
        notSocket.onmessage = async function(e) {
            const data = JSON.parse(e.data);
			console.log(data);
			if(data.message.by != '{{ currentuser.pk }}' ){
            document.querySelector('#notification').innerHTML = "Notification received";
			}
        
}
        notSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        
</script>

</body>
</html>